[submodule ".jellyfin"]
	path = .jellyfin
	url = https://github.com/jellyfin/jellyfin.git
	branch = release-10.11.z

[submodule ".jellyfin-web"]
	path = .jellyfin-web
	url = https://github.com/jellyfin/jellyfin-web.git
	branch = release-10.11.z
